.Rectangle {
  background-image: url(./png/Rectangle.png);
  background-size: cover;
  width: 100%;
  height: 680px;
}
body {
  background: #E5E5E5;
}
.Rectangle img {
  width: 25px;
  height: 25px;
  padding-right: 40px;
}
.box2 {
  display: flex;
  width: 100%;
  margin: 30px auto;
  background: #fff;
  height: 400px;
}
.box2 > div {
  width: 313px;
  height: 209px;
}
.imgItem {
  width: 90%;
  padding: 10px;
}
.box2 > img {
  width: 313px;
  height: 209px;
}
.Fresh {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 19px;
  line-height: 22px;
  color: #172345;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.box2 > div > p {
  margin: 5px  0 10px 0;
}
h2 {
  color: #5326d4;
  font-size: 35px;
  margin: 0;
}
.StarIcon{
  color: #162345;
}