.Rectangle{
  background-image: url(./png/Rectangle.png);
  background-size: cover;
  width: 100%;
  height: 680px;
}
.Rectangle img {
  width: 25px;
  height: 25px;
  padding-right:40px;
}

h2{
  color: #5326D4;
  font-size: 35px;
  margin: 0;
  
}